html
    head
        title= title
body
    h1= "Generate Files"
    form(action="/new_movie" method="POST")
    p Amount:
        input(type="text" name="Amount" id="amount" placeholder="e.g. 150")
    p FileName:
        input(type="text" name="FileName" id="filename" placeholder="e.g. 10001")
    button(type="button" id= "farm") Click
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    script.
        $(document).ready(function () {
            $("#farm").click(function () {
                $.post(
                    '/generate',
                    {
                        amount: $('#amount').val(),
                        filename: $('#filename').val()
                    }
                )
            });
        });
